doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/layout/layout.css')
    //- link(rel='stylesheet', href='/stylesheets/layout/home.css')
    block moreHeader
  body
    block content
