extends ../partials/layout

block moreHeader
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  .container
    .row-fluid
      .col-sm-12
        include ../partials/home-header.jade
    .row
      .col-sm-offset-2.col-sm-8
        .row.nav-bar
        .row
          .col-sm-offset-1.col-sm-10
            //what we do spiel
        .row.main-content
          .col-sm-6
            .fb-page(data-href='https://www.facebook.com/canalautorebuilders/?hc_location=ufi', data-tabs='timeline', data-width='500', data-height='800',data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                .fb-xfbml-parse-ignore
                  blockquote(cite='https://www.facebook.com/canalautorebuilders/?hc_location=ufi')
                    a(href='https://www.facebook.com/canalautorebuilders/?hc_location=ufi') Canal Auto Rebuilders

  include ../partials/footer.jade
