extends ../templates/layout

block moreHeader
  link(rel='stylesheet', href='/stylesheets/css/home.css')

block content
  include ../templates/home-header.jade
  p this is some content
  include ../templates/footer.jade
