extends ../partials/layout
block moreHeader
  link(rel='stylesheet', href='/stylesheets/services.css')
block content
  include ../partials/nav-bar.jade
  .row
    .row
      .col-sm-6
        //restoration
        .redbox 
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat lectus, facilisis ac dui quis, maximus pulvinar nisl. Nunc dictum lectus mauris, a efficitur dolor malesuada id. Pellentesque congue tortor sit amet facilisis ornare. Vivamus vestibulum vitae elit et finibus. Donec lobortis risus lectus, non molestie sem porttitor quis. Nulla ullamcorper augue eu lacus interdum auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis commodo dolor. Etiam malesuada tristique nisi, congue imperdiet massa ultricies nec. Morbi id consequat lorem. Sed sodales mauris tincidunt, egestas lectus ac, congue ex.
      .col-sm-6
        .row
          .col-sm-6
            //suspension and brakes
            .redbox
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat lectus, facilisis ac dui quis, maximus pulvinar nisl. Nunc dictum lectus mauris, a efficitur dolor malesuada id. Pellentesque congue tortor sit amet facilisis ornare. Vivamus vestibulum vitae elit et finibus. Donec lobortis risus lectus, non molestie sem porttitor quis. Nulla ullamcorper augue eu lacus interdum auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis commodo dolor. Etiam malesuada tristique nisi, congue imperdiet massa ultricies nec. Morbi id consequat lorem. Sed sodales mauris tincidunt, egestas lectus ac, congue ex.
          .col-sm-6
            //transmission
            .redbox
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat lectus, facilisis ac dui quis, maximus pulvinar nisl. Nunc dictum lectus mauris, a efficitur dolor malesuada id. Pellentesque congue tortor sit amet facilisis ornare. Vivamus vestibulum vitae elit et finibus. Donec lobortis risus lectus, non molestie sem porttitor quis. Nulla ullamcorper augue eu lacus interdum auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis commodo dolor. Etiam malesuada tristique nisi, congue imperdiet massa ultricies nec. Morbi id consequat lorem. Sed sodales mauris tincidunt, egestas lectus ac, congue ex.
        .row
          //electrical
          .redbox
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat lectus, facilisis ac dui quis, maximus pulvinar nisl. Nunc dictum lectus mauris, a efficitur dolor malesuada id. Pellentesque congue tortor sit amet facilisis ornare. Vivamus vestibulum vitae elit et finibus. Donec lobortis risus lectus, non molestie sem porttitor quis. Nulla ullamcorper augue eu lacus interdum auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis commodo dolor. Etiam malesuada tristique nisi, congue imperdiet massa ultricies nec. Morbi id consequat lorem. Sed sodales mauris tincidunt, egestas lectus ac, congue ex.
    .row
      .col-sm-4
        //engine detail
        .redbox
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat lectus, facilisis ac dui quis, maximus pulvinar nisl. Nunc dictum lectus mauris, a efficitur dolor malesuada id. Pellentesque congue tortor sit amet facilisis ornare. Vivamus vestibulum vitae elit et finibus. Donec lobortis risus lectus, non molestie sem porttitor quis. Nulla ullamcorper augue eu lacus interdum auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis commodo dolor. Etiam malesuada tristique nisi, congue imperdiet massa ultricies nec. Morbi id consequat lorem. Sed sodales mauris tincidunt, egestas lectus ac, congue ex.
      .col-sm-4
        //custom paint
        .redbox
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat lectus, facilisis ac dui quis, maximus pulvinar nisl. Nunc dictum lectus mauris, a efficitur dolor malesuada id. Pellentesque congue tortor sit amet facilisis ornare. Vivamus vestibulum vitae elit et finibus. Donec lobortis risus lectus, non molestie sem porttitor quis. Nulla ullamcorper augue eu lacus interdum auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis commodo dolor. Etiam malesuada tristique nisi, congue imperdiet massa ultricies nec. Morbi id consequat lorem. Sed sodales mauris tincidunt, egestas lectus ac, congue ex.
      .col-sm-4
        //sheet metal
        .redbox
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam erat lectus, facilisis ac dui quis, maximus pulvinar nisl. Nunc dictum lectus mauris, a efficitur dolor malesuada id. Pellentesque congue tortor sit amet facilisis ornare. Vivamus vestibulum vitae elit et finibus. Donec lobortis risus lectus, non molestie sem porttitor quis. Nulla ullamcorper augue eu lacus interdum auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis commodo dolor. Etiam malesuada tristique nisi, congue imperdiet massa ultricies nec. Morbi id consequat lorem. Sed sodales mauris tincidunt, egestas lectus ac, congue ex.
  include ../partials/footer.jade
