#custom-paint-carousel.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#custom-paint-carousel', data-slide-to='0')
    li(data-target='#custom-paint-carousel', data-slide-to='1')
    li(data-target='#custom-paint-carousel', data-slide-to='2')
    li(data-target='#custom-paint-carousel', data-slide-to='3')
    li(data-target='#custom-paint-carousel', data-slide-to='4')
    li(data-target='#custom-paint-carousel', data-slide-to='5')
    li(data-target='#custom-paint-carousel', data-slide-to='6')
    li(data-target='#custom-paint-carousel', data-slide-to='7')
    li(data-target='#custom-paint-carousel', data-slide-to='8')
    li(data-target='#custom-paint-carousel', data-slide-to='9')
    li(data-target='#custom-paint-carousel', data-slide-to='10')
    li(data-target='#custom-paint-carousel', data-slide-to='11')
    li(data-target='#custom-paint-carousel', data-slide-to='12')
    li(data-target='#custom-paint-carousel', data-slide-to='13')
    li(data-target='#custom-paint-carousel', data-slide-to='14')
    li(data-target='#custom-paint-carousel', data-slide-to='15')
    li(data-target='#custom-paint-carousel', data-slide-to='16')
    li(data-target='#custom-paint-carousel', data-slide-to='17')
    li(data-target='#custom-paint-carousel', data-slide-to='18')
    li(data-target='#custom-paint-carousel', data-slide-to='19')
    li(data-target='#custom-paint-carousel', data-slide-to='20')
    li(data-target='#custom-paint-carousel', data-slide-to='21')
    li(data-target='#custom-paint-carousel', data-slide-to='22')
  .carousel-inner(role='listbox')
    .item.active
      img(src='images/Services/CustomPaint/paint-1.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-2.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-3.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-4.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-5.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-6.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-7.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-8.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-9.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-10.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-11.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-12.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-13.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-14.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-15.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-16.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-17.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-18.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-19.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-20.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-22.jpg', alt='...')
    .item
      img(src='images/Services/CustomPaint/paint-23.jpg', alt='...')
  a.left.carousel-control(href='#custom-paint-carousel', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    span.sr-only Previous
  a.right.carousel-control(href='#custom-paint-carousel', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    span.sr-only Next
