#electrical-carousel.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#electrical-carousel', data-slide-to='0')
    li(data-target='#electrical-carousel', data-slide-to='1')
    li(data-target='#electrical-carousel', data-slide-to='2')
    li(data-target='#electrical-carousel', data-slide-to='3')
    li(data-target='#electrical-carousel', data-slide-to='4')
    li(data-target='#electrical-carousel', data-slide-to='5')
    li(data-target='#electrical-carousel', data-slide-to='6')
    li(data-target='#electrical-carousel', data-slide-to='7')
    li(data-target='#electrical-carousel', data-slide-to='8')
    li(data-target='#electrical-carousel', data-slide-to='9')
  .carousel-inner(role='listbox')
    .item.active
      img(src='images/Services/electricalAndInterior/electricalAndInterior-1.jpg', alt='...')
    .item
      img(src='images/Services/electricalAndInterior/electricalAndInterior-2.jpg', alt='...')
    .item
      img(src='images/Services/electricalAndInterior/electricalAndInterior-3.jpg', alt='...')
    .item
      img(src='images/Services/electricalAndInterior/electricalAndInterior-4.jpg', alt='...')
    .item
      img(src='images/Services/electricalAndInterior/electricalAndInterior-5.jpg', alt='...')
    .item
      img(src='images/Services/electricalAndInterior/electricalAndInterior-6.jpg', alt='...')
    .item
      img(src='images/Services/electricalAndInterior/electricalAndInterior-7.jpg', alt='...')
    .item
      img(src='images/Services/electricalAndInterior/electricalAndInterior-8.jpg', alt='...')
    .item
      img(src='images/Services/electricalAndInterior/electricalAndInterior-9.jpg', alt='...')
    .item
      img(src='images/Services/electricalAndInterior/electricalAndInterior-10.jpg', alt='...')
  a.left.carousel-control(href='#electrical-carousel', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    span.sr-only Previous
  a.right.carousel-control(href='#electrical-carousel', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    span.sr-only Next
