#restoration-carousel.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#restoration-carousel', data-slide-to='0')
    li(data-target='#restoration-carousel', data-slide-to='1')
    li(data-target='#restoration-carousel', data-slide-to='2')
    li(data-target='#restoration-carousel', data-slide-to='3')
    li(data-target='#restoration-carousel', data-slide-to='4')
    li(data-target='#restoration-carousel', data-slide-to='5')
    li(data-target='#restoration-carousel', data-slide-to='6')
    li(data-target='#restoration-carousel', data-slide-to='7')
    li(data-target='#restoration-carousel', data-slide-to='8')
    li(data-target='#restoration-carousel', data-slide-to='9')
  .carousel-inner(role='listbox')
    .item.active
      img(src='images/Services/Restoration/restoration-1.jpg', alt='...')
    .item
      img(src='images/Services/Restoration/restoration-2.jpg', alt='...')
    .item
      img(src='images/Services/Restoration/restoration-3.jpg', alt='...')
    .item
      img(src='images/Services/Restoration/restoration-4.jpg', alt='...')
    .item
      img(src='images/Services/Restoration/restoration-5.jpg', alt='...')
    .item
      img(src='images/Services/Restoration/restoration-6.jpg', alt='...')
    .item
      img(src='images/Services/Restoration/restoration-7.jpg', alt='...')
    .item
      img(src='images/Services/Restoration/restoration-8.jpg', alt='...')
    .item
      img(src='images/Services/Restoration/restoration-9.jpg', alt='...')
    .item
      img(src='images/Services/Restoration/restoration-10.jpg', alt='...')
  a.left.carousel-control(href='#restoration-carousel', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    span.sr-only Previous
  a.right.carousel-control(href='#restoration-carousel', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    span.sr-only Next
