#sheet-metal-carousel.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#sheet-metal-carousel', data-slide-to='0')
    li(data-target='#sheet-metal-carousel', data-slide-to='1')
    li(data-target='#sheet-metal-carousel', data-slide-to='2')
    li(data-target='#sheet-metal-carousel', data-slide-to='3')
    li(data-target='#sheet-metal-carousel', data-slide-to='4')
    li(data-target='#sheet-metal-carousel', data-slide-to='5')
    li(data-target='#sheet-metal-carousel', data-slide-to='6')
    li(data-target='#sheet-metal-carousel', data-slide-to='7')
    li(data-target='#sheet-metal-carousel', data-slide-to='8')
    li(data-target='#sheet-metal-carousel', data-slide-to='9')
    li(data-target='#sheet-metal-carousel', data-slide-to='10')
    li(data-target='#sheet-metal-carousel', data-slide-to='11')
    li(data-target='#sheet-metal-carousel', data-slide-to='12')
    li(data-target='#sheet-metal-carousel', data-slide-to='13')
    li(data-target='#sheet-metal-carousel', data-slide-to='14')
    li(data-target='#sheet-metal-carousel', data-slide-to='15')
    li(data-target='#sheet-metal-carousel', data-slide-to='16')
    li(data-target='#sheet-metal-carousel', data-slide-to='17')
    li(data-target='#sheet-metal-carousel', data-slide-to='18')
  .carousel-inner(role='listbox')
    .item.active
      img(src='images/Services/SheetMetal/sheetMetal-1.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-2.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-3.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-4.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-5.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-6.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-7.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-8.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-9.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-10.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-11.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-12.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-13.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-14.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-15.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-16.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-17.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-18.jpg', alt='...')
    .item
      img(src='images/Services/SheetMetal/sheetMetal-19.jpg', alt='...')
  a.left.carousel-control(href='#sheet-metal-carousel', role='button', data-slide='prev')
    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
    span.sr-only Previous
  a.right.carousel-control(href='#sheet-metal-carousel', role='button', data-slide='next')
    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
    span.sr-only Next
