.container-fluid.footer
  .row.footer-elements
    .col-sm-2
      img(src='images/canal-logo.png' class="canal-logo-footer" alt="Canal Logo")
    .col-sm-4
      include nav-links.jade
      .copyright
        | Copyright © 2016 Aakay-Why-e Tech
