@import 'layout';
@import 'footer';

p {
  color: #999;
  background-color: @gray-background;
}

.home-header {
  height: 450px;
  background-color: @canal-maroon;
  text-align: center;
    img {
      position: absolute;
      height: 300px;
      left: 50vw;
      margin-top: 50px;
      margin-left: -300px;
    }
}

.video-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 450px;
  width: 100vw;
  overflow: hidden;
  background-szie: cover;
}
