@import 'layout';
@import 'footer';

p {
  color: #999;
  background-color: @gray-background;
}

.home-header {
  height: 450px;
  background-color: @canal-maroon;
  text-align: center;

  img {
    height: 300px;
    margin-top: 50px;
  }
}
