@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css";

@page-background: whitesmoke;
@canal-maroon: rgb(101,51,50);
@canal-gold: rgb(205,153,54);
@gray-background: #333;

body {
  margin: 0px;
  padding: 0px;
  background-color: @page-background;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:@canal-maroon;
}
